@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
<h1>Studystat ASP.NET Core Bot</h1>
<h2>Статистика</h2>
@foreach (var str in ViewBag.Statistic)
{
    @str
    <br>
}


</body>
</html>